@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #ffffff;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  --font-cinzel: var(--font-cinzel), serif;
}